.document-geographic-info
{
   padding: 0em 1em 2em 0em;
   border-bottom: 1px solid #C2C2C2;
}

.document-geographic-info .heading
{
   color: #333333;
   font-size: 131%;
   padding: 1em 0em;
}

.document-geographic-map
{
	width: 100%;
	height: 200px;
	border: 1px solid #999999;
}